
<div class="main-image-container">
  <img class="main-image" src="http://content9.flixster.com/photo/11/51/99/11519907_ori.jpg" alt="">
</div>

<h1>Herbie Hancock</h1>
<div class="main-rating">
  <i class="fa fa-star"></i>
  <i class="fa fa-star"></i>
  <i class="fa fa-star"></i>
  <i class="fa fa-star"></i>
  <i class="fa fa-star-o"></i>
</div>

<hr>

<div class="container artist-songs">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <ol>
        <li>
          <span><a href="#">Cantaloupe Island</a></span>
          <div class="inline-rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
        </li>
        <li>
          <span><a href="#">Watermellon man</a></span>
          <div class="inline-rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
        </li>
        <li>
          <span><a href="#">Chameleon</a></span>
          <div class="inline-rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
          </div>
        </li>
        <li>
          <span><a href="#">Maiden Voyage</a></span>
          <div class="inline-rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
          </div>
        </li>
        <li>
          <span><a href="#">Dolphin Dance</a></span>
          <div class="inline-rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
          </div>
        </li>
      </ol>
    </div>
  </div>
</div>
