

<h1>Raghu</h1>

<hr>

<div class="container artist-songs">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <ol>
        <li>
          <span>
            <a href="#">Herbie Hancock</a> -
            <a href="#">Cantaloupe Island</a>
          </span>
          <div class="inline-rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
          </div>
        </li>
        <li>
          <span>
            <a href="#">Sylvan Esso</a> -
            <a href="#">Hey Miami</a>
          </span>
          <div class="inline-rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
        </li>
        <li>
          <span>
            <a href="#">Taylor Swift</a> -
            <a href="#">Shake it off</a>
          </span>
          <div class="inline-rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
          </div>
        </li>


      </ol>
    </div>
  </div>
</div>
